In [1]:
import duckdb as db

In [2]:
def sql(query, database = "../data/database.duckdb"):
    con = db.connect(database)
    res = con.execute(query).df()
    con.close()
    return res

In [8]:
sql(
    f"""
    select * from database
    limit 5
"""
)

InvalidInputException: Invalid Input Error: Python Object "database" of type "str" found on line "/var/folders/w7/mwhn41wd4133mpd3qmk0b4lh0000gn/T/ipykernel_1220/2699892076.py:3" not suitable for replacement scans.
Make sure that "database" is either a pandas.DataFrame, duckdb.DuckDBPyRelation, pyarrow Table, Dataset, RecordBatchReader, Scanner, or NumPy ndarrays with supported format

In [ ]:
urls = {
    'name_basics' : 'https://datasets.imdbws.com/name.basics.tsv.gz',
    'title_basics' : 'https://datasets.imdbws.com/title.basics.tsv.gz',
    'title_crew' : 'https://datasets.imdbws.com/title.crew.tsv.gz',
    'title_ratings' : 'https://datasets.imdbws.com/title.ratings.tsv.gz',
    'title_akas' : 'https://datasets.imdbws.com/title.akas.tsv.gz',
    'tmdb' : '../data/tmdb_full.csv'
}

for name, url in urls.items():
    if name == 'title_basics':
        sql(
            f"""
                create or replace table {name} as
                select * from read_csv_auto('{url}')
                where titletype = 'movie'
            """
        )
    else:
        sql(
            f"""
                create or replace table {name} as
                select * from read_csv_auto('{url}')
            """
        )

In [4]:
sql(
            f"""
                create or replace table title_principals as
                select * from read_csv_auto('https://datasets.imdbws.com/title.principals.tsv.gz')
            """
        )

      Count
0  92663960

In [5]:
sql(
    """
    show tables

"""
)

               name
0       name_basics
1        title_akas
2      title_basics
3        title_crew
4  title_principals
5     title_ratings
6              tmdb