In [2]:
import duckdb as db
import pandas as pd

In [3]:
def sql(query, database = "../data/database.duckdb"):
    con = db.connect(database)
    res = con.execute(query).df()
    con.close()
    return res

In [18]:
urls = {
    'name_basics' : 'https://datasets.imdbws.com/name.basics.tsv.gz',
    'title_basics' : 'https://datasets.imdbws.com/title.basics.tsv.gz',
    'title_crew' : 'https://datasets.imdbws.com/title.crew.tsv.gz',
    'title_ratings' : 'https://datasets.imdbws.com/title.ratings.tsv.gz',
    'title_akas' : 'https://datasets.imdbws.com/title.akas.tsv.gz',
    'tmdb' : '../data/tmdb_full.csv'
}

for name, url in urls.items():
    if name == 'title_basics':
        sql(
            f"""
                create or replace table {name} as
                select * from read_csv_auto('{url}')
                where titletype = 'movie'
            """
        )
    else:
        sql(
            f"""
                create or replace table {name} as
                select * from read_csv_auto('{url}')
            """
        )

In [20]:
sql(
            f"""
                create or replace table title_principals as
                select * from read_csv_auto('https://datasets.imdbws.com/title.principals.tsv.gz')
            """
        )

      Count
0  92760677

In [5]:
sql(
    """
    show tables

"""
)

               name
0    dataframe_view
1       name_basics
2        title_akas
3      title_basics
4        title_crew
5  title_principals
6     title_ratings
7              tmdb

In [4]:
df = pd.DataFrame(
    sql('''
        SELECT * FROM dataframe_view
        '''
    )
)

In [6]:
df.to_parquet('../data/app_df.gzip', compression='gzip')

In [7]:
df_test = pd.read_parquet('../data/app_df.gzip')

In [12]:
pd.read_parquet("../data/df_similar.gzip")
df = pd.read_parquet("../data/df_similar.gzip")
df.to_csv("../data/df.csv")

In [17]:
df['Year'] = pd.to_datetime(df['Year'])
df.info()
df.to_csv("../data/df.csv")

<class 'pandas.core.frame.DataFrame'>
Index: 99312 entries, 0 to 101543
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tconst               99312 non-null  object
 1   Title                99312 non-null  object
 2   Genres               99312 non-null  object
 3   Year                 99312 non-null  datetime64[ns]
 4   Runtime              99312 non-null  int64
 5   Actors               99312 non-null  object
 6   Director             99312 non-null  object
 7   Writers              99312 non-null  object
 8   Resume               99312 non-null  object
 9   Rating               99312 non-null  float64
 10  Votes                99312 non-null  int64
 11  ProductionCompanies  99312 non-null  object
 12  ProductionCountries  99312 non-null  object
 13  Poster               99312 non-null  object
 14  similar_films        99312 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(11)
memory usage: 12.1+ MB