In [1]:
import duckdb as db

In [2]:
def sql(query, database = "../data/database.duckdb"):
    con = db.connect(database)
    res = con.execute(query).df()
    con.close()
    return res

In [ ]:
sql(
    """ 
    select primaryTitle as Title,
    ta.Region as Region, genres,
    startYear as Year,
    runtimeMinutes as Runtime,
    nb.primaryName as Director
    from title_basics tb
    join title_akas ta on tconst = titleId
    join title_crew using (tconst)
    join name_basics nb on directors = nconst
    where region like 'US'
"""

)

,Title,Region,genres,Year,Runtime,Director
0,Saraband,US,"Drama,Music",2003,107,Ingmar Bergman
1,One-Eyed Jacks,US,"Drama,Western",1961,141,Marlon Brando
2,Short Cut to Hell,US,"Crime,Drama,Film-Noir",1957,89,James Cagney
3,Posse,US,"Drama,Western",1975,92,Kirk Douglas
4,Toby Dammit,US,"Drama,Horror",1968,45,Federico Fellini
...,...,...,...,...,...,...
307653,Sparrowhawk,US,Thriller,\N,\N,Dylan J. Scott
307654,Orders Home,US,Documentary,\N,\N,Rogue Thomas
307655,Live Fast Die Young Chi-bangin,US,Action,2017,52,David Wolfe
307656,Letter to a Young Planet,US,Sci-Fi,2018,\N,Tovya Jacobs
307657,The Shakebag and a Six,US,Documentary,2017,58,Carlos Durand