In [2]:
import duckdb as db
import pandas as pd
import numpy as np

import joblib

In [3]:
def sql(query, database = "../data/database.duckdb"):
    con = db.connect(database)
    res = con.execute(query).df()
    con.close()
    return res

In [17]:
sql(
    """ 
    WITH num_votes_quartiles AS
    (SELECT 
    tconst,
    NTILE(4) OVER(ORDER BY numVotes) AS quartile
    FROM title_basics AS tb
    JOIN title_ratings USING(tconst))
    SELECT
    *
    FROM title_basics AS tb
    JOIN num_votes_quartiles USING(tconst)
    JOIN title_ratings USING(tconst)
    WHERE quartile = 4
    ORDER BY numVotes

    """
)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,quartile,averageRating,numVotes
0,tt0027999,movie,Mummy's Boys,Mummy's Boys,0,1936,\N,68,Comedy,4,5.0,316
1,tt0039793,movie,Hidden River,Río Escondido,0,1948,\N,99,Drama,4,7.5,316
2,tt0039873,movie,Suddenly It's Spring,Suddenly It's Spring,0,1947,\N,87,"Comedy,Romance",4,6.3,316
3,tt0040090,movie,The Lovers of Verona,Les amants de Vérone,0,1949,\N,90,"Drama,Romance",4,6.8,316
4,tt0040287,movie,Devil's Cargo,Devil's Cargo,0,1948,\N,64,Mystery,4,5.5,316
...,...,...,...,...,...,...,...,...,...,...,...,...
82392,tt0109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance",4,8.8,2378710
82393,tt0137523,movie,Fight Club,Fight Club,0,1999,\N,139,"Crime,Drama,Thriller",4,8.8,2464434
82394,tt1375666,movie,Inception,Inception,0,2010,\N,148,"Action,Adventure,Sci-Fi",4,8.8,2682755
82395,tt0468569,movie,The Dark Knight,The Dark Knight,0,2008,\N,152,"Action,Crime,Drama",4,9.0,3020170
82396,tt0111161,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama,4,9.3,3043168

In [18]:
sql(
    """ 
    WITH ratings_quartiles AS
    (SELECT 
    tconst,
    NTILE(4) OVER(ORDER BY averageRating) AS rating_quartile
    FROM title_basics AS tb
    JOIN title_ratings USING(tconst))
    
    SELECT
    *
    FROM title_basics AS tb
    JOIN ratings_quartiles USING(tconst)
    JOIN title_ratings USING(tconst)
    WHERE rating_quartile = 4
    ORDER BY averageRating

    """
)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,rating_quartile,averageRating,numVotes
0,tt4602920,movie,Love & Will,Kärlek & vilja,0,2018,\N,85,Drama,4,7.1,51
1,tt4606514,movie,Bobby,Bobby,0,2016,\N,97,"Biography,Documentary,Sport",4,7.1,571
2,tt4607906,movie,Romantic Schemer,Romantic Schemer,0,2015,\N,84,"Comedy,Romance",4,7.1,201
3,tt4613278,movie,Czech Swan,Czech Swan,0,2016,\N,52,Documentary,4,7.1,16
4,tt4620098,movie,Seven Days in Mexico,Seven Days in Mexico,0,2020,\N,70,Documentary,4,7.1,29
...,...,...,...,...,...,...,...,...,...,...,...,...
82392,tt35460760,movie,Parrot Kindergarten,Parrot Kindergarten,0,2025,\N,79,Documentary,4,10.0,17
82393,tt36047815,movie,Through the Pain,Through the Pain,0,2025,\N,\N,Drama,4,10.0,8
82394,tt36609232,movie,Stranger Things: The First Shadow - Broadway,Stranger Things: The First Shadow - Broadway,0,2025,\N,166,Drama,4,10.0,6
82395,tt36671015,movie,Mother Mary,Mother Mary,0,2025,\N,102,\N,4,10.0,633
82396,tt36694936,movie,Famous Patrick (A Super SpongeBob Fan Movie),Famous Patrick (A Super SpongeBob Fan Movie),0,2024,\N,53,Adventure,4,10.0,12

In [19]:
sql(
    """ 
    WITH ratings_quartiles AS
    (SELECT 
    tconst,
    NTILE(4) OVER(ORDER BY averageRating) AS rating_quartile
    FROM title_basics AS tb
    JOIN title_ratings USING(tconst)),
    num_votes_quartiles AS
    (SELECT 
    tconst,
    NTILE(4) OVER(ORDER BY numVotes) AS votes_quartile
    FROM title_basics AS tb
    JOIN title_ratings USING(tconst))
    
    SELECT
    *
    FROM title_basics AS tb
    JOIN ratings_quartiles USING(tconst)
    JOIN num_votes_quartiles USING(tconst)
    JOIN title_ratings USING(tconst)
    WHERE rating_quartile = 4 and votes_quartile =4
    ORDER BY numVotes 
    """
)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,rating_quartile,votes_quartile,averageRating,numVotes
0,tt27557120,movie,Diane von Furstenberg: Woman in Charge,Diane von Furstenberg: Woman in Charge,0,2024,\N,97,"Biography,Documentary",4,4,7.2,316
1,tt3045760,movie,Kil,Kil,0,2013,\N,90,"Action,Drama,Mystery",4,4,7.2,316
2,tt0039793,movie,Hidden River,Río Escondido,0,1948,\N,99,Drama,4,4,7.5,316
3,tt0102987,movie,Una storia semplice,Una storia semplice,0,1991,\N,91,Drama,4,4,7.2,316
4,tt0155928,movie,Oru Kaidhiyin Diary,Oru Kaidhiyin Diary,0,1985,\N,152,"Action,Crime,Drama",4,4,7.2,316
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15666,tt0109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance",4,4,8.8,2378710
15667,tt0137523,movie,Fight Club,Fight Club,0,1999,\N,139,"Crime,Drama,Thriller",4,4,8.8,2464434
15668,tt1375666,movie,Inception,Inception,0,2010,\N,148,"Action,Adventure,Sci-Fi",4,4,8.8,2682755
15669,tt0468569,movie,The Dark Knight,The Dark Knight,0,2008,\N,152,"Action,Crime,Drama",4,4,9.0,3020170
15670,tt0111161,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama,4,4,9.3,3043168

In [20]:
sql(
    """ 
    select primaryTitle as Title,
    startYear as Year,
    runtimeMinutes as Runtime,
    nb.primaryName as Director
    from title_basics tb
    join title_akas ta on tconst = titleId
    join title_crew using (tconst)
    join name_basics nb on directors = nconst
    where region like 'US'
"""
)

                          Title  Year Runtime                 Director
0                    Kryptonite  2015      80           Nicanor Loreti
1         The Birch-Tree Meadow  2003      91  Marceline Loridan Ivens
2              My Brother's Gun  1997      93               Ray Loriga
3               The Age of Love  2014      79            Steven Loring
4             He Hired the Boss  1943      72         Thomas Z. Loring
...                         ...   ...     ...                      ...
307744         Journey to Salem  2023      \N         Alex Avril Klein
307745               A Muse Inn    \N      \N              Blake Davis
307746         Magnolia Flowers  2021      65       Colin Charles Dale
307747  CF Picture's Spider-Man  2018      55               Markos Lee
307748                  The Kid    \N      \N       Colin Charles Dale

[307749 rows x 4 columns]

In [21]:
sql("""
    Select
    primaryTitle,
    primaryName 
    from title_basics
    join title_principals using (tconst)
    join name_basics using (nconst)
    limit 1
    """)

  primaryTitle      primaryName
0   Miss Jerry  Blanche Bayliss

In [22]:
sql("""    
    
    select distinct
    Tconst as tconst,
    tb.primaryTitle as Title,
    tb.genres as Genres,
    startYear as Year,
    runtimeMinutes as Runtime,
    nb.primaryName as Actor,
    nb.primaryName as Director,
    t.overview as Resume,
    tr.averageRating as Rating,
    tr.numVotes as Votes,
    t.Budget as Budget,
    t.Revenue as Revenue,
    production_companies_name as ProductionCompanies,
    production_companies_country as ProductionCountries,
    t.poster_path as Poster
    from title_basics tb
    join title_akas ta on tconst = titleId
    join title_crew using (tconst)
    join name_basics nb on directors = nconst
    join tmdb t on t.imdb_id = tb.tconst
    join title_ratings tr on tb.tconst = tr.tconst
    join title_principals tp on tconst = tp.tconst
    where tp.category like '%actor%' or tp.category like '%actress%'
    ORDER BY Revenue desc
    Limit 1
    """)

,tconst,Title,Genres,Year,Runtime,Actor,Director,Resume,Rating,Votes,Budget,Revenue,ProductionCompanies,ProductionCountries,Poster
0,tt0499549,Avatar,"Action,Adventure,Fantasy",2009,162,James Cameron,James Cameron,"In the 22nd century, a paraplegic Marine is di...",7.9,1430785,237000000,2923706026,"['Dune Entertainment', 'Lightstorm Entertainme...","['US', 'US', 'US', 'GB']",/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg

In [23]:
df = pd.read_parquet("../data/app_df.gzip")
df.head()

,tconst,Title,Genres,Year,Runtime,Actors,Director,Writers,Resume,Rating,Votes,Budget,Revenue,Profit,ProductionCompanies,ProductionCountries,Poster
0,tt0499549,Avatar,"Action,Adventure,Fantasy",2009,162,"Zoe Saldaña, Giovanni Ribisi, CCH Pounder, Mic...",James Cameron,James Cameron,"In the 22nd century, a paraplegic Marine is di...",7.9,1430785,237000000,2923706026,2686706026,"['Dune Entertainment', 'Lightstorm Entertainme...","['US', 'US', 'US', 'GB']",/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg
1,tt4154796,Avengers: Endgame,"Action,Adventure,Sci-Fi",2019,181,"Jeremy Renner, Don Cheadle, Chris Evans, Chadw...","Anthony Russo, Joe Russo","Christopher Markus, Steve Englehart, Jack Kirb...",After the devastating events of Avengers: Infi...,8.4,1357117,356000000,2794731755,2438731755,['Marvel Studios'],None,/or06FN3Dka5tukK1e9sl16pB3iy.jpg
2,tt0120338,Titanic,"Drama,Romance",1997,194,"Kate Winslet, Frances Fisher, Billy Zane, Davi...",James Cameron,James Cameron,101-year-old Rose DeWitt Bukater tells the sto...,7.9,1339359,200000000,2264162353,2064162353,"['Paramount', '20th Century Fox', 'Lightstorm ...","['US', 'US', 'US']",/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg
3,tt1630029,Avatar: The Way of Water,"Action,Adventure,Fantasy",2022,192,"Cliff Curtis, CCH Pounder, Sam Worthington, Si...",James Cameron,"Rick Jaffa, Shane Salerno, James Cameron, Aman...",Set more than a decade after the events of the...,7.5,534023,460000000,2319331580,1859331580,"['20th Century Studios', 'Lightstorm Entertain...",None,/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg
4,tt2488496,Star Wars: Episode VII - The Force Awakens,"Action,Adventure,Sci-Fi",2015,138,"Domhnall Gleeson, Lupita Nyong'o, Mark Hamill,...",J.J. Abrams,"George Lucas, Michael Arndt, J.J. Abrams, Lawr...",Thirty years after defeating the Galactic Empi...,7.8,999627,245000000,2068223624,1823223624,"['Lucasfilm Ltd.', 'Bad Robot']",None,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg

In [24]:
genre_series = df['Genres'].str.split(',')
genre_list = [genre for sublist in genre_series for genre in sublist]
genre_list = list(filter(lambda x: x not in ['\\N', 'Adult'], genre_list))
genre_list = pd.Series(genre_list)

In [25]:
genre_list.unique()

array(['Action', 'Adventure', 'Fantasy', 'Sci-Fi', 'Drama', 'Romance',
       'Animation', 'Thriller', 'Comedy', 'Family', 'Crime', 'Biography',
       'Music', 'History', 'Horror', 'Mystery', 'Musical', 'War',
       'Western', 'Sport', 'Documentary', 'Film-Noir', 'Reality-TV',
       'News'], dtype=object)

In [26]:
df[df['Poster'].isnull()]

,tconst,Title,Genres,Year,Runtime,Actors,Director,Writers,Resume,Rating,Votes,Budget,Revenue,Profit,ProductionCompanies,ProductionCountries,Poster
1238,tt3718222,Someone Wants to Talk with You,"Drama,Family",2012,90,"Anahita Ne'mati, Sara Esmael, Shahin Taslimi, ...",Manouchehr Hadi,"Saeed Dolatkhani, Manouchehr Hadi",Yasaman has been living with her mother Leila ...,5.5,305,100000,100000000,99900000,['Iranian Independents'],['IR'],None
4991,tt3180664,Yajamana,"Drama,Family",2000,162,"Shashikumar, Ramesh Bhat, Avinash, M.N. Lakshm...","Sheshadri, Radha Bharathi","Radha Bharathi, Vikraman, Ravi Srivatsa, Shesh...",Shankar sacrifices his own interests and refus...,8.3,481,200000,8000000,7800000,[],[],None
5580,tt5465374,Shivalinga,"Drama,Horror,Thriller",2016,155,"Malavika Avinash, Ashok, Urvashi, Vedhika, Avi...",P. Vasu,P. Vasu,Shivalinga is story weaved around a murder mys...,6.9,675,0,5500000,5500000,[],[],None
7609,tt2391817,Ee Rojullo,"Comedy,Romance",2012,129,"M.S. Narayana, Kumar Sai Pampana, Madhumani, R...",Maruthi Dasari,Maruthi Dasari,Srinivas is a gullible lover who gets used by ...,5.5,165,610000,1800000,1190000,['Good Cinema Group'],None,None
7806,tt2100411,Bodyguard,"Action,Comedy",2012,150,"Dharmavarapu Subramanyam, Saloni Aswani, Trish...",Gopichand Malineni,"Gopichand Malineni, Siddique, Kona Venkat","A remake tale, the story begins with Venkatadr...",5.1,522,8000000,9000000,1000000,[],None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97988,tt1537302,Angel Camouflaged,"Drama,Music",2010,116,"Patty Smyth, Violeta Leskyte Cucchiara, Warric...",R. Michael Givens,"R. Michael Givens, Frederick Bailey, Ken Dalton","This rock and roll drama stars, James Brolin, ...",5.2,145,4000000,0,-4000000,[],None,None
98256,tt0214277,Very Mean Men,"Comedy,Crime",2000,93,"Louise Fletcher, Martin Landau, Billy Drago, M...",Tony Vitale,Paul T. Murray,A bartender wants rid of an obnoxious drunk bu...,5.9,308,4500000,0,-4500000,"['Miracle Entertainment', 'Baio / White Produc...",None,None
98857,tt0079504,The Magician of Lublin,Drama,1979,105,"Shelley Winters, Maia Danziger, Lou Jacobi, Va...",Menahem Golan,"Irving S. White, Joseph Gross, Barbara Dana, M...",Yasha is a Jewish stage magician who tours thr...,5.8,190,6000000,0,-6000000,"['NF Geria III-Produktion München', 'Geria III...",None,None
99831,tt1961680,"Young, High and Dead","Horror,Thriller",2013,89,"Hannah Tointon, Su Elliot, Lara Wollington, Ni...","Katie Anna Brady, Daniel Fenton, Luke Brady, T...",Luke Brady,When five friends head to the woods for a week...,3.0,157,10000000,0,-10000000,"['Salani Films', 'Rum Punch Productions']",None,None
100377,tt21967274,Flo,"Biography,Drama,Sport",2023,125,"Benjamin Sulpice, Pierre Deladonchamps, Charle...",Géraldine Danon,"Géraldine Danon, Agnès de Sacy, Yann Queffélec","World premiering on the Plage, it tells the st...",6.0,255,14000000,0,-14000000,"['Les Films Manuel Munz', 'France 3 Cinéma', '...","['FR', 'FR', 'FR']",None

In [27]:
df[df['Actors'].str.contains('Ken Jeong', case=False)]

,tconst,Title,Genres,Year,Runtime,Actors,Director,Writers,Resume,Rating,Votes,Budget,Revenue,Profit,ProductionCompanies,ProductionCountries,Poster
35,tt1690953,Despicable Me 2,"Adventure,Animation,Comedy",2013,98,"Steve Coogan, Miranda Cosgrove, Russell Brand,...","Chris Renaud, Pierre Coffin","Ken Daurio, Cinco Paul",Gru is recruited by the Anti-Villain League to...,7.3,444261,76000000,970761885,894761885,"['Illumination', 'Universal Pictures']",None,/5Fh4NdoEnCjCK9wLjdJ9DJNFl2b.jpg
160,tt1411697,The Hangover Part II,Comedy,2011,102,"Mason Lee, Justin Bartha, Zach Galifianakis, M...",Todd Phillips,"Todd Phillips, Jon Lucas, Craig Mazin, Scott M...",The Hangover crew heads to Thailand for Stu's ...,6.5,556308,80000000,586764305,506764305,"['Legendary Pictures', 'Green Hat Films', 'War...",None,/jrP9zmdSUpOzzUXpEqPqg3dryUr.jpg
202,tt1119646,The Hangover,Comedy,2009,100,"Ken Jeong, Bradley Cooper, Justin Bartha, Sash...",Todd Phillips,"Jon Lucas, Scott Moore",When three friends finally come to after a rau...,7.7,887097,35000000,469310836,434310836,"['Legendary Pictures', 'Green Hat Films', 'War...","['US', 'US', 'US']",/uluhlXubGu1VxU63X9VHCLWDAYP.jpg
432,tt1951261,The Hangover Part III,"Comedy,Crime",2013,100,"Bradley Cooper, John Goodman, Ken Jeong, Jeffr...",Todd Phillips,"Jon Lucas, Craig Mazin, Todd Phillips, Scott M...","This time, there's no wedding. No bachelor par...",5.8,348824,103000000,362000072,259000072,"['Green Hat Films', 'Legendary Pictures', 'Ben...",None,/vtxuPWkdllLNLVyGjKYa267ntuH.jpg
478,tt1911658,Penguins of Madagascar,"Action,Adventure,Animation",2014,92,"Conrad Vernon, Christopher Knights, Annet Mahe...","Simon J. Smith, Eric Darnell","Brandon Sawyer, Brent Simons, Alan Schoolcraft...","Skipper, Kowalski, Rico and Private join force...",6.6,109072,132000000,373552094,241552094,"['DreamWorks Animation', 'Pacific Data Images'...",None,/dXbpNrPDZDMEbujFoOxmMNQVMHa.jpg
575,tt3104988,Crazy Rich Asians,"Comedy,Drama,Romance",2018,120,"Michelle Yeoh, Constance Wu, Henry Golding, Li...",Jon M. Chu,"Kevin Kwan, Peter Chiarelli, Adele Lim",An American-born Chinese economics professor a...,6.9,201107,30000000,238539198,208539198,"['Color Force', 'Ivanhoe Pictures', 'Warner Br...","['US', 'US', 'US']",/1XxL4LJ5WHdrcYcihEZUCgNCpAW.jpg
1352,tt1222817,Zookeeper,"Comedy,Family,Fantasy",2011,102,"Nat Faxon, Joe Rogan, Leslie Bibb, Ken Jeong, ...",Frank Coraci,"Kevin James, Jay Scherick, David Ronn, Rock Re...",Kindhearted Griffin Keyes is one of the best-l...,5.2,67538,80000000,169852759,89852759,"['Broken Road Productions', 'Zookeeper Product...",None,/y3b4AYw8dr4hIKTfEAjxUxx0z8G.jpg
1405,tt2869728,Ride Along 2,"Action,Comedy,Crime",2016,102,"Ken Jeong, Bruce McGill, Tika Sumpter, Kevin H...",Tim Story,"Matt Manfredi, Phil Hay, Greg Coolidge","As his wedding day approaches, Ben heads to Mi...",5.9,65449,40000000,124827316,84827316,"['Reel Chefs Catering', 'Universal Pictures', ...",None,/2433Vt8xuDnAIDAJTNx6DEtf9Qb.jpg
1763,tt0430922,Role Models,Comedy,2008,99,"Seann William Scott, Bobb'e J. Thompson, Eliza...",David Wain,"Timothy Dowling, Ken Marino, David Wain, Willi...",Two salesmen trash a company truck on an energ...,6.8,245665,28000000,92380927,64380927,"['WideAwake', 'Universal Pictures', 'Internati...","['', 'US', '', 'US', '', 'US']",/ki79dSjh6Rr51xrsz4dT04UGxSU.jpg
1805,tt1980209,Pain & Gain,"Action,Biography,Comedy",2013,129,"Ed Harris, Anthony Mackie, Rob Corddry, Ken Je...",Michael Bay,"Christopher Markus, Stephen McFeely, Pete Collins","Daniel Lugo, manager of the Sun Gym in 1990s M...",6.4,235988,25000000,87305549,62305549,"['Paramount', 'De Line Pictures']",None,/ddTWL7lZafCJ2VqWdaGg0pl8Adb.jpg
1845,tt1666186,Vampires Suck,"Comedy,Horror",2010,82,"Kelsey Ledgin, David DeLuise, Anneliese van de...","Aaron Seltzer, Jason Friedberg","Jason Friedberg, Aaron Seltzer","Becca, an anxious, non-vampire teen is torn be...",3.4,53218,20000000,80547866,60547866,"['Road Rebel', 'Regency Enterprises', '20th Ce...",None,/ksPKfoXovAiFnBktkCBefsRQ8a1.jpg
1894,tt5664636,Goosebumps 2: Haunted Halloween,"Adventure,Comedy,Fantasy",2018,90,"Ken Jeong, Shari Headley, Jeremy Ray Taylor, C...",Ari Sandel,"R.L. Stine, Darren Lemke, Rob Lieber","Two boys face an onslaught from witches, monst...",5.6,25034,35000000,93320380,58320380,"['Columbia Pictures', 'Original Film', 'Schola...","['US', 'US', 'US', 'US', 'US', 'US']",/t2wy38iiMpB8WsgJi3lYeDnGh2H.jpg
2603,tt1666801,The DUFF,"Comedy,Romance",2015,101,"Ken Jeong, Bianca A. Santos, Skyler Samuels, R...",Ari Sandel,"Kody Keplinger, Josh A. Cagan",Bianca's universe turns upside down when she l...,6.4,104716,8500000,43528634,35028634,"['Wonderland Sound and Vision', 'CBS Films', '...",None,/A6ScveWmIPL9vSYyULD8ObqyHDQ.jpg
3137,tt0881891,All About Steve,"Comedy,Romance",2009,99,"Keith David, Thomas Haden Church, Howard Hesse...",Phil Traill,Kim Barker,"After one short date, a brilliant crossword co...",4.8,45289,15000000,40105542,25105542,"['Fox 2000 Pictures', 'Dune Entertainment III'...",None,/dn2Hg6uWE3Cytis6YGRH7gZ0MMf.jpg
3508,tt6428676,Wonder Park,"Adventure,Animation,Comedy",2019,85,"Norbert Leo Butz, Jennifer Garner, Ken Hudson ...",Dylan Brown,"Robert Gordon, André Nemec, Josh Appelbaum",A young girl named June with a big imagination...,5.9,13131,100000000,119559110,19559110,"['Nickelodeon Movies', 'Paramount Animation', ...","['US', 'US', 'ES', 'US']",/8KomINZhIuJeB4oB7k7tkq8tmE.jpg
4558,tt1594972,Norm of the North,"Adventure,Animation,Comedy",2016,90,"Rob Schneider, Salome Jens, Loretta Devine, Mi...","Trevor Wall, Lisa Ortiz","Daniel Altiere, Malcolm T. Goldman, Steven Alt...",Polar bear Norm and his three Arctic lemming b...,3.4,10422,7000000,17062499,10062499,"['Lionsgate', 'Splash Entertainment', 'Telegae...",None,/ouaoVSV7aOSWTNnQ9iDA1jw0pgg.jpg
5900,tt8242084,My Spy,"Action,Comedy",2020,99,"Greg Bryk, Vieslav Krystyan, Noah Dalton Danby...",Peter Segal,"Erich Hoeber, Jon Hoeber",A hardened CIA operative finds himself at the ...,6.4,39407,0,4418501,4418501,"['STX Entertainment', 'MWM Studios']","['US', 'US']",/n2C6jRK9PtPIs99RQhKtqGlsnsO.jpg
6000,tt10101702,My Little Pony: A New Generation,"Adventure,Animation,Comedy",2021,90,"James Marsden, Michael McKean, Ken Jeong, Kimi...","Mark Fattibene, Robert Cullen, José Luis Ucha","Tim Sullivan, Gillian Berrow, Robert Cullen, B...",Equestria's divided. But a bright-eyed hero be...,6.8,4839,0,4100000,4100000,"['Boulder Media', 'Entertainment One']","['IE', 'CA']",/hzq5XRGgm6NDMOW1idUvbpGqEkv.jpg
7554,tt0492389,Furry Vengeance,"Comedy,Family",2010,92,"Eugene Cordero, Ken Jeong, Jim Norton, Patrice...",Roger Kumble,"Josh Gilbert, Michael Carnes",When real estate developer Dan Sanders finaliz...,3.9,18787,35000000,36236710,1236710,"['Furry Vengeance Productions', 'Imagenation A...",None,/vR8BBTRxU2xu0FvrTTio8CvCwi3.jpg
13294,tt23838470,A Great Divide,Drama,2023,100,"Marshall Allman, Ken Jeong, MeeWha Alana Lee, ...",Jean Shim,"Jean Shim, Jeff Yang, Martina Nagel","During the heart of Covid lock-down, the Lee f...",5.5,126,0,0,0,[],[],None
34490,tt0365880,Uncle P,Comedy,2007,88,"Romeo Miller, Ella Joyce, Rachelle Clark, Ken ...","Bernard Gourley, Master P","Master P, Dallas Jackson",Rapper/multi-millionaire P. Miller becomes the...,3.7,624,0,0,0,[],None,/tkY2cbB78AGtuyeRIPMieFmW7YW.jpg
37068,tt1241017,How to Make Love to a Woman,Comedy,2010,91,"Ike Barinholtz, Lindsay Richards, Catherine Re...",Scott Culver,Dennis Kao,When Andy hears his girlfriend Lauren sigh aft...,4.1,3178,0,0,0,"['I Lied About Everything Picture', 'How To Pr...",None,/A3LppVfwslUokTyETpclKwGAXSM.jpg
37097,tt1879032,Rapture-Palooza,"Comedy,Fantasy",2013,85,"Anna Kendrick, Ken Jeong, Rob Corddry, Thomas ...",Paul Middleditch,Chris Matheson,Two teens battle their way through a religious...,5.2,13045,0,0,0,"['Mosaic Media Group', 'Mimran Schur Pictures']",None,/9yc5UCe3i5mrHuIWsGgsKfI37rd.jpg
46528,tt8633748,The Opening Act,Comedy,2020,90,"Roy Wood Jr., Jermaine Fowler, Alex Moffat, Ji...",Steve Byrne,Steve Byrne,The film follows Will Chu whose true life pass...,6.0,1226,0,0,0,"['Wild West Picture Show Productions', 'Look t...","['US', 'CA']",/dLzrhDvKXT7KVIDTglnTOhz19cW.jpg
53345,tt7364522,Elsewhere,"Comedy,Drama",2019,98,"Ken Jeong, Jacki Weaver, Parker Posey, Scott H...",Hernán Jiménez,Hernán Jiménez,A man does everything in his power to keep own...,5.9,1237,0,0,0,"['Evoke', 'Branded Pictures Entertainment', 'B...","['', '', 'CA']",/53kFXzUIsRUQqazHMnlX5gvL1WH.jpg
55456,tt4859168,Then Came You,"Comedy,Drama,Romance",2018,97,"Maisie Williams, Margot Bingham, Asa Butterfie...",Peter Hutchings,Fergal Rock,An American hypochondriac who is working as a ...,6.9,14466,0,0,0,"['BCDF Pictures', 'Voltage Pictures']","['US', 'US']",/658QP5tmBRUlE5JvxOnnmITfG1F.jpg
56518,tt2967226,Killing Hasselhoff,Comedy,2017,80,"Ken Jeong, Harry S. Murphy, Rhys Darby, Ron Fu...",Darren Grant,"Mike O'Connell, Peter Hoare",A man in a high stakes celebrity death pool qu...,4.5,2949,0,0,0,"['Lotus Pictures', 'WWE Studios', 'Hyde Park F...","['', 'US', 'US']",/9BQqALg8ffCn5ZkYZKEtAgR29HF.jpg
60888,tt9013340,Fool's Paradise,Comedy,2023,98,"Edie Falco, Adrien Brody, Steve Coulter, Mary ...",Charlie Day,Charlie Day,A down-on-his-luck publicist discovers a recen...,4.7,7110,0,0,0,"['Wrigley Pictures', 'Armory Films']","['US', 'US']",/85xDp7A37WsrFbEiAfOwg9xKrH1.jpg
64582,tt7319822,Saving Zoë,"Crime,Drama,Mystery",2019,95,"Vanessa Marano, Giorgia Whigham, Michael Provo...",Jeffrey G. Hunt,"LeeAnne H. Adams, Alyson Noel, Brian J. Adams","A year after the murder of her sister Zoë, Ech...",5.4,2393,0,0,0,"['Calabrian Rhode Productions', 'Studio71', 'B...","['', 'US', '']",/7M3KQLBDkNrbLD1UHA6cvGkqa5k.jpg
77256,tt3090670,Advantageous,"Drama,Family,Sci-Fi",2015,90,"Jacqueline Kim, Freya Adams, Troi Zee, Jennife...",Jennifer Phang,"Jacqueline Kim, Jennifer Phang",In a near-future city where soaring opulence o...,6.1,6079,0,0,0,"['Good Neighbors Media', 'DK Entertainment', ""...",None,/xVJdSbDxKTanwZtD6qUyc7cGNpG.jpg
78330,tt8241000,Extinct,"Adventure,Animation,Comedy",2021,84,"Reggie Watts, Jim Jefferies, Rachel Bloom, Ale...","David Silverman, Raymond S. Persi","John Frink, Joel H. Cohen, Rob LaZebnik, James...","Op and Ed, two adorable donut-shaped animals -...",5.5,3678,0,0,0,"['China Lion Entertainment Production', 'Cines...","['', 'CA', 'CN', 'GB', '', 'CN', 'CN']",/tRnPT88iD5zgeUPjHqaZznrxk5m.jpg
99746,tt1092633,"The Goods: Live Hard, Sell Hard",Comedy,2009,89,"Tony Hale, David Koechner, Ving Rhames, Jeremy...",Neal Brennan,"Andy Stock, Rick Stempson","Don Ready is many things, but he is best-known...",5.7,22972,10000000,0,-10000000,"['Kevin Messick Productions', 'Paramount Vanta...","['', 'US', 'US']",/mzabvX1N0fLlu5aFMiu6rQu878T.jpg
101031,tt8615822,Occupation: Rainfall,"Action,Sci-Fi",2020,128,"Trystan Go, Mark Coles Smith, Temuera Morrison...",Luke Sparke,"Luke Sparke, Felix Williamson, Dale Dye",Two years into an intergalactic invasion of Ea...,4.7,15796,25000000,331091,-24668909,"['Sparke Films', 'Saban Films', 'Film Mode Ent...","['', 'US', '', '']",/vpq8XjZ3ZalcbqWOYIdqcV7FbIJ.jpg
101373,tt7638348,Boss Level,"Action,Adventure,Comedy",2020,100,"Michelle Yeoh, Will Sasso, Meadow Williams, Fr...",Joe Carnahan,"Eddie Borey, Chris Borey, Joe Carnahan",A former special forces agent is trapped in a ...,6.8,84891,45000000,2000000,-43000000,"['WarParty Films', 'Highland Film Group', 'Ing...","['US', 'US', 'GB', '', 'US', '', 'US', '', '',...",/i6QFXv4lZyxRMknH0EDkCIz02XP.jpg
101452,tt3152592,Scoob!,"Adventure,Animation,Comedy",2020,93,"Frank Welker, Will Forte, Kiersey Clemons, Ama...",Tony Cervone,"Adam Sztykiel, Derek Elliott, Matt Lieberman, ...","In Scooby-Doo’s greatest adventure yet, see th...",5.6,31509,90000000,28588425,-61411575,"['Warner Animation Group', 'Warner Bros. Pictu...","['US', 'US']",/jHo2M1OiH9Re33jYtUQdfzPeUkx.jpg

In [4]:
#Conversion de notre base de donnée acquise via SQL en DataFrame
data = pd.DataFrame(sql("""
    SELECT
        *
    FROM
       dataframe_view
    """))

In [5]:
#Creation d'un DF_Copy pour ne pas modifier le DF d'origine
data_copy = data

In [6]:
def clean_row(row):
    return row.replace("[", "").replace("]", "").replace("'", "")
data_copy.drop(columns= ['Profit','Revenue', 'Budget'], inplace=True) #trop de valeurs manquantes, DF faussé
data_copy['ProductionCountries'] = data_copy['ProductionCountries'].apply(lambda x: 'Unknown' if x =='\\N' else x)
data_copy['Writers'] = data_copy['Writers'].apply(lambda x: 'Unknown' if x== '\\N'  else x)
data_copy['Resume'] = data_copy['Resume'].apply(lambda x: 'Unknown' if x == '\\N'  else x)
data_copy = data_copy.dropna(subset=['Poster'])
#nettoyage de la colonne Year (il semblerait qu'il y ait qu'une ligne avec une valeur '\N')
data_copy['Year'] = data_copy['Year'].replace('\\N', np.nan)
data_copy = data_copy.dropna(subset=['Year'])
#On convertit la colonne Year en int pour pouvoir l'utiliser dans le modèle
data_copy['Year'] = data_copy['Year'].astype(int)
data_copy['Resume'].fillna('Unknown', inplace=True)
df_runtime = data_copy[data_copy['Runtime'] != '\\N']
df_runtime['Runtime'] = df_runtime['Runtime'].astype(int)
data_copy['Runtime'] = data_copy['Runtime'].apply(lambda x: df_runtime['Runtime'].median() if x == '\\N' else x)
data_copy['Runtime'] = data_copy['Runtime'].astype(int)
data_copy['Runtime'].describe()
data_copy['ProductionCountries'].fillna('Unknown', inplace=True)
data_copy['ProductionCountries'] = data_copy['ProductionCountries'].apply(clean_row)
data_copy['ProductionCompanies'] = data_copy['ProductionCompanies'].apply(clean_row)
data_copy['ProductionCountries'] = data_copy['ProductionCountries'].apply(
    lambda x: ', '.join(dict.fromkeys(str(x).split(', ')))
)
data_copy['Writers'].fillna('Unknown', inplace=True)

C:\Users\jeanp\AppData\Local\Temp\ipykernel_6804\272718629.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_copy['Year'] = data_copy['Year'].replace('\\N', np.nan)
C:\Users\jeanp\AppData\Local\Temp\ipykernel_6804\272718629.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_copy['Resume'].fillna('Unknown', inplace=True)
C:\Users\jeanp\AppData\Local\Temp\ipykernel_6804\272718629.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_runtime['Runtime'] = df_runtime['Runtime'].astype(int)
C:\Users\jeanp\AppData\Local\Temp\ipykernel_6804\272718629.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_copy['ProductionCountries'].fillna('Unknown', inplace=True)
C:\Users\jeanp\AppData\Local\Temp\ipykernel_6804\272718629.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_copy['Writers'].fillna('Unknown', inplace=True)

In [7]:
#import de la bibliothèque scikit-learn
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer  
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.compose import ColumnTransformer

In [9]:
num_cols = data_copy.select_dtypes('number')
non_num_cols = data_copy.select_dtypes(exclude='number')
non_num_cols.drop(columns=['tconst', 'Poster', 'ProductionCountries'], inplace=True)
non_num_cols = non_num_cols.select_dtypes(include='object').columns.tolist()
num_cols = data_copy.select_dtypes(include=['int64', 'float64']).columns.tolist()

In [10]:
# On crée une liste de tuples pour appliquer un TfidfVectorizer à chaque colonne texte
text_transformers = [
    (col, TfidfVectorizer(stop_words='english'), col)
    for col in non_num_cols
]

# On ajoute la partie numérique
all_transformers = text_transformers + [
    ('num', StandardScaler(), num_cols)
]

preprocessor = ColumnTransformer(transformers=all_transformers)

pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('knn', NearestNeighbors(n_neighbors=6, metric='cosine'))
])
X = data_copy[num_cols + non_num_cols]
film_index = 3
pipeline.fit(X)
vectorized_data = pipeline.named_steps['preprocessor'].transform(X)
distances, indices = pipeline.named_steps['knn'].kneighbors(vectorized_data.getrow(film_index))
print("Distances:", distances)
print("Indices:", indices)
for i in indices[0]:
    print(data_copy['Title'].iloc[i])
    print(data_copy['Resume'].iloc[i])
    print(data_copy['Director'].iloc[i])
    print()

Distances: [[2.22044605e-16 8.01634789e-02 8.09143234e-02 8.17305784e-02
  8.36696098e-02 8.38096027e-02]]
Indices: [[    3    96   123   275 79041     2]]
Avatar: The Way of Water
Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.
James Cameron

Pirates of the Caribbean: At World's End
Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems.
Gore Verbinski

The Batman
In his second year of fighting crime, Batman uncovers corruption in Gotham City that connects to his own family while facing a serial killer known as the Riddler.
Matt Reeves

King Kong
In 1933 New York, an overly ambitious movie producer coerces his cast and hired ship crew to travel to mysterious Skull Island, where they encounter Kong, a giant ape who is immediately smitten with the leading lady.
Peter Jackson

The Kashmir Files
Based on a true tragedy, the emotionally triggering film sheds light on the plight of Kashmiri Pandits (Hindus), a religious minority in the 1990s Kashmir valley, who were compelled to flee their homes by the Islamic militants.
Vivek Agnihotri

Titanic
101-year-old Rose DeWitt Bukater tells the story of her life aboard the Titanic, 84 years later. A young Rose boards the ship with her mother and fiancé. Meanwhile, Jack Dawson and Fabrizio De Rossi win third-class tickets aboard the ship. Rose tells the whole story from Titanic's departure through to its death—on its first and last voyage—on April 15, 1912.
James Cameron

In [34]:
film_index = 0
distances, indices = pipeline.named_steps['knn'].kneighbors(vectorized_data.getrow(film_index))
print("Distances:", distances)
print("Indices:", indices)
for i in indices[0]:
    print(data_copy['Title'].iloc[i])
    print(data_copy['Resume'].iloc[i])
    print(data_copy['Director'].iloc[i])
    print()

Distances: [[0.         0.00976896 0.00984327 0.01035641 0.01073654 0.01129396]]
Indices: [[  0  22  63  46 145  50]]
Avatar
In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.
James Cameron

The Lord of the Rings: The Return of the King
Aragorn is revealed as the heir to the ancient kings as he, Gandalf and the other members of the broken fellowship struggle to save Gondor from Sauron's forces. Meanwhile, Frodo and Sam take the ring closer to the heart of Mordor, the dark lord's realm.
Peter Jackson

The Lord of the Rings: The Fellowship of the Ring
Young hobbit Frodo Baggins, after inheriting a mysterious ring from his uncle Bilbo, must leave his home in order to keep it from falling into the hands of its evil creator. Along the way, a fellowship is formed to protect the ringbearer and make sure that the ring arrives at its final destination: Mt. Doom, the only place where it can be destroyed.
Peter Jackson

The Lord of the Rings: The Two Towers
Frodo and Sam are trekking to Mordor to destroy the One Ring of Power while Gimli, Legolas and Aragorn search for the orc-captured Merry and Pippin. All along, nefarious wizard Saruman awaits the Fellowship members at the Orthanc Tower in Isengard.
Peter Jackson

Interstellar
The adventures of a group of explorers who make use of a newly discovered wormhole to surpass the limitations on human space travel and conquer the vast distances involved in an interstellar voyage.
Christopher Nolan

The Dark Knight Rises
Following the death of District Attorney Harvey Dent, Batman assumes responsibility for Dent's crimes to protect the late attorney's reputation and is subsequently hunted by the Gotham City Police Department. Eight years later, Batman encounters the mysterious Selina Kyle and the villainous Bane, a new terrorist leader who overwhelms Gotham's finest. The Dark Knight resurfaces to protect a city that has branded him an enemy.
Christopher Nolan

In [11]:
_, indices = pipeline.named_steps['knn'].kneighbors(vectorized_data)

indices

array([[    0,    22,    63,    46,   145,    50],
       [    1,     5,    33,    22,    12,    21],
       [    2,     0,    22,   348,   524,  1353],
       ...,
       [99309,   114,     3,   146, 99297,   275],
       [99310,     3, 99297,   275,  2943,    36],
       [99311,   151,    27, 99297,   115,     3]], shape=(99312, 6))

In [13]:
data_copy.shape

(99312, 14)

In [36]:
joblib.dump(pipeline, '../KNN/model.pkl')

['../KNN/model.pkl']

In [37]:
data_copy.to_parquet('../data/st_df.gzip', compression='gzip')

In [38]:
info_film = data_copy[data_copy["Title"] == 'Despicable Me 3'].reset_index().squeeze()

In [39]:
info_film

index                                                                 30
tconst                                                         tt3469046
Title                                                    Despicable Me 3
Genres                                        Adventure,Animation,Comedy
Year                                                                2017
Runtime                                                               89
Actors                 Miranda Cosgrove, Pierre Coffin, Nhev Scharrel...
Director                         Pierre Coffin, Eric Guillon, Kyle Balda
Writers                                           Ken Daurio, Cinco Paul
Resume                 Gru and his wife Lucy must stop former '80s ch...
Rating                                                               6.3
Votes                                                             169277
ProductionCompanies                     Illumination, Universal Pictures
ProductionCountries                                              Unknown
Poster                                  /6t3YWl7hrr88lCEFlGVqW5yV99R.jpg
Name: 0, dtype: object

In [40]:
film_index = 0
distances, indices = pipeline.named_steps['knn'].kneighbors(vectorized_data.getrow(film_index))

indices

array([[  0,  22,  63,  46, 145,  50]])

In [14]:
df = data_copy.head(10)

In [17]:
idx_test = indices[:10]

In [28]:
idx_test[0]

array([  0,  22,  63,  46, 145,  50])

In [29]:
idx_test

array([[    0,    22,    63,    46,   145,    50],
       [    1,     5,    33,    22,    12,    21],
       [    2,     0,    22,   348,   524,  1353],
       [    3,    96,   123,   275, 79041,     2],
       [    4,   145,    63,    94,    50,    22],
       [    5,     1,    12,   145,   138,    33],
       [    6,    80,     1,    22,     5,    29],
       [    7,    41,   145,    94,    12,    50],
       [    8,     6,   488,     1,   231,   109],
       [    9,   108,   162,     1,   123,   488]])

In [30]:
df['similar'] = list(idx_test)

C:\Users\jeanp\AppData\Local\Temp\ipykernel_6804\3066917206.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['similar'] = list(idx_test)

In [32]:
df['similar'] = df['similar'].apply(lambda x : x[1:])

C:\Users\jeanp\AppData\Local\Temp\ipykernel_6804\2066866749.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['similar'] = df['similar'].apply(lambda x : x[1:])

In [34]:
data_copy['similar_films'] = list(indices)

In [36]:
data_copy['similar_films'] = data_copy['similar_films'].apply(lambda x : x[1:])

In [39]:
data_copy

,tconst,Title,Genres,Year,Runtime,Actors,Director,Writers,Resume,Rating,Votes,ProductionCompanies,ProductionCountries,Poster,similar_films
0,tt0499549,Avatar,"Action,Adventure,Fantasy",2009,162,"Wes Studi, Joel David Moore, CCH Pounder, Mich...",James Cameron,James Cameron,"In the 22nd century, a paraplegic Marine is di...",7.9,1430785,"Dune Entertainment, Lightstorm Entertainment, ...","US, GB",/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg,"[22, 63, 46, 145, 50]"
1,tt4154796,Avengers: Endgame,"Action,Adventure,Sci-Fi",2019,181,"Don Cheadle, Chris Evans, Robert Downey Jr., C...","Joe Russo, Anthony Russo","Stan Lee, Bill Mantlo, Don Heck, Joe Simon, La...",After the devastating events of Avengers: Infi...,8.4,1357117,Marvel Studios,Unknown,/or06FN3Dka5tukK1e9sl16pB3iy.jpg,"[5, 33, 22, 12, 21]"
2,tt0120338,Titanic,"Drama,Romance",1997,194,"Kate Winslet, Frances Fisher, Gloria Stuart, K...",James Cameron,James Cameron,101-year-old Rose DeWitt Bukater tells the sto...,7.9,1339359,"Paramount, 20th Century Fox, Lightstorm Entert...",US,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,"[0, 22, 348, 524, 1353]"
3,tt1630029,Avatar: The Way of Water,"Action,Adventure,Fantasy",2022,192,"CCH Pounder, Brendan Cowell, Sigourney Weaver,...",James Cameron,"Amanda Silver, Shane Salerno, Josh Friedman, J...",Set more than a decade after the events of the...,7.5,534023,"20th Century Studios, Lightstorm Entertainment",Unknown,/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg,"[96, 123, 275, 79041, 2]"
4,tt2488496,Star Wars: Episode VII - The Force Awakens,"Action,Adventure,Sci-Fi",2015,138,"John Boyega, Carrie Fisher, Andy Serkis, Daisy...",J.J. Abrams,"J.J. Abrams, Lawrence Kasdan, George Lucas, Mi...",Thirty years after defeating the Galactic Empi...,7.8,999627,"Lucasfilm Ltd., Bad Robot",Unknown,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[145, 63, 94, 50, 22]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101539,tt1074638,Skyfall,"Action,Adventure,Thriller",2012,143,"Judi Dench, Javier Bardem, Ola Rapace, Naomie ...",Sam Mendes,"Neal Purvis, John Logan, Robert Wade, Ian Fleming",When Bond's latest assignment goes gravely wro...,7.8,750700,"Metro-Goldwyn-Mayer, Eon Productions, Danjaq, ...",Unknown,/d0IVecFQvsGdSbnMAHqiYsNYaJT.jpg,"[22, 1, 46, 63, 267]"
101540,tt5537002,Killers of the Flower Moon,"Crime,Drama,History",2023,206,"Brendan Fraser, Leonardo DiCaprio, Lily Gladst...",Martin Scorsese,"Eric Roth, Martin Scorsese, David Grann",When oil is discovered in 1920s Oklahoma under...,7.6,282017,"Appian Way, Imperative Entertainment, Sikelia ...",US,/yKzDnjsuLhh9B4xc0vNgz1YzYsT.jpg,"[99297, 98792, 4374, 98686, 2002]"
101541,tt9603212,Mission: Impossible - Dead Reckoning Part One,"Action,Adventure,Thriller",2023,163,"Hayley Atwell, Henry Czerny, Shea Whigham, Pom...",Christopher McQuarrie,"Bruce Geller, Christopher McQuarrie, Erik Jend...",The seventh installment of the Mission: Imposs...,7.6,286322,"Paramount, Skydance Media, New Republic Pictur...",US,/pZCa8WgnP0AgVHsFjvuUDhcNjOJ.jpg,"[114, 3, 146, 99297, 275]"
101542,tt1462764,Indiana Jones and the Dial of Destiny,"Action,Adventure,Sci-Fi",2023,154,"John Rhys-Davies, Antonio Banderas, Olivier Ri...",James Mangold,"James Mangold, John-Henry Butterworth, George ...","Finding himself in a new era, approaching reti...",6.5,219813,"Lucasfilm Ltd., Walt Disney Pictures, Paramount",Unknown,/sv7iVXYVJTtOUAM9KGwsIuO0dEc.jpg,"[3, 99297, 275, 2943, 36]"
101543,tt5433140,Fast X,"Action,Adventure,Crime",2023,141,"Sung Kang, Jordana Brewster, John Cena, Charli...",Louis Leterrier,"Gary Scott Thompson, Dan Mazeau, Zach Dean, Ju...",Over many missions and against impossible odds...,5.7,135329,"Universal Pictures, Original Film, One Race, P...",US,/1E5baAaEse26fej7uHcjOgEE2t2.jpg,"[151, 27, 99297, 115, 3]"

In [38]:
data_copy.to_parquet('../data/df_similar.gzip', compression='gzip')